
from selenium import webdriver
#selenium is a tool for getting browser 

from selenium.webdriver.common.by import By
#webdriver is a tool for access  a web application from a lot of webapllications("chrome,"safari","firefox","Edge")
#here we use common is for common operations,we use By for accessing the page  tools like for 1."search",2."username",3."header", etc,....

from selenium.webdriver.common.keys import Keys
#here we import keys  for using to make key operations ("Enter","Esc", "Backspace",....)

from selenium.webdriver.support.ui import WebDriverWait
# here we use the support for supporting our process our authentication and searching process 
#and WebDriverWait is used for explicit waiting in Selenium - it makes the script wait for certain conditions before proceeding.
from selenium.webdriver.support import expected_conditions as EC


def  google_search(search_term):
    driver = webdriver.Chrome()

    try:
        driver.get("https://www.google.com")
        search_box = driver.find_element(By.NAME,"q")
        search_box.send_keys(search_term)
        search_box.send_keys(Keys.RETURN)
        
        first_result = WebDriverWait(driver,10).until(
            EC.presence_of_all_elements_located((By.CSS_SELECTOR,"div.g h3"))
        )
        print(f"first result  :{first_result}")
    finally:
        driver.quit()
        
if __name__ == "__main__":
    google_search("saiavinash")
